html,body 
  font-family Georgia, 'Times New Roman', Times, serif, "Miscrosoft yahei"

a 
  color text-color
  text-decoration none
  text-align center

a:hover 
  text-decoration none
  color hover-color

::placeholder 
  font-size 10px
  color #DDDDDD

ul 
  list-style none

h1 
  margin 0
.glyphicon
  top: 4px
.w700
  font-weight: 700