.banner {
  position: relative;
  height: 680px;
  background: #031a2e url(../img/bg-banner.jpg) no-repeat center/cover;
}
.line-one {
  position: absolute;
  left: 903px;
  bottom: 84px;
  width: 49px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}

.line-two {
  position: absolute;
  left: 970px;
  bottom: 84px;
  width: 49px;
  height: 3px;
  background-color: #838a94;
  border-radius: 2px;
}
/* intro */
.banner .intro {
  position: absolute;
  left: 380px;
  bottom: -80px;
  width: 1160px;
  height: 118px;
  background-color: #ffffff;
  box-shadow: 0px 0px 54px 0px 
rgba(92, 107, 143, 0.21);
}

.intro img {
  padding: 24px 38px 24px 36px ;
  vertical-align: middle;
}

.intro span {
  display: inline-block;
  width: 800px;
  height: 20px;
  vertical-align: middle;
  font-family: PingFang-SC-Medium;
  font-size: 20px;
  line-height: 16px;
  color: #333333; 
}

.intro a {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  padding: 12px 0;
  margin-left: 25px;
  border: solid 1px #ff7200;
  color: #ff7200;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 20px;
}