<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2023-02-23 16:26:57
 * @LastEditors: sueRimn
 * @LastEditTime: 2023-02-23 17:16:32
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>循环</title>
</head>
<body>
  <div id="app">
    <ul>
      <!-- <li v-for="(item,idx) in list">内容{{item}}索引{{idx}}</li> -->
      <li v-for="(value,key,idx) in obj">内容{{value}} | key{{key}} | 索引{{idx}}</li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data () {
        return {
          obj: {
            "name": "jzs",
            "age": 22,
            "address": "jinHua"
          },
          list: [
            "suki",
            {
              name: "jzs",
              age: 22,
              addr: "jinHua"
            },
            "dinner"
          ]
        }
      },
    })
  </script>
</body>
</html>