<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2023-02-22 16:18:23
 * @LastEditors: sueRimn
 * @LastEditTime: 2023-02-23 15:39:05
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test  []响应</title>
  <style>
  </style>
</head>

<body>
  <div class="box">
    <!-- <li v-for="(value,key) in obj">{{key}} {{value}}</li> -->
    <li v-for="(value,key) in list">{{key}} {{value}}</li>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: document.querySelector(".box"),
      data() {
        return {
          message: "welcome to my home",
          obj: {
            name: "jzs",
            age: 22
          },
          list: [
            "999pyp",
            {
              name: "jzs",
              age: 22
            }
          ]
        }
      },
      methods: {
      }
    })
  </script>
</body>

</html>