@charset "utf-8";
body{
	background: #ffffff;
}
.section1{
	padding:10px 15px;
	background: #ffffff;
}
.stick {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: #f6f6f6;
}
.section1 form{
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	background: #FCFCFC;
	height: 35px;
	display: flex;
	align-items: center;
	position: relative;
}
.section1 form input{
	height: 30px;
}
.section1 form input[type=text]{
	width: 100%;
	background: transparent;
	border-radius: 50px;
	border: none;
	padding: 0 30px 0 12px;
	font-size: 12px;
}
.section1 form input[type=submit]{
	width: 30px;
	background: url(../images/search.png) no-repeat center;
	border: none;
	background-size: 22px;
	position: absolute;
	right: 5px;
	top: 1px;
}
.cate{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #E2E2E2;
	height: 40px;
	padding: 0 15px;
	background: #ffffff;
}
.cate a{
	flex: 0 0 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 15px;
	color: #666666;
	margin-right: 15px;
}
.cate a:last-child{
	margin-right: 0;
}
.cate a.active{
	color: #A04CFF;
	border-bottom: 2px solid #A04CFF;
}

.selItem{  	
	padding: 15px;
}
.selItem .bg{
  	background: #ffffff;
  	margin-top: 15px;
}
.selItem .bg:first-child{
	margin-top: 0;
}
.selItem .bottom .item{
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	margin-bottom: 15px;
}
.selItem .bottom .item:last-child{
  	margin-bottom: 0;
}
.selItem .bottom .item .pic{
  	width: 95px;
  	height: 85px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.selItem .bottom .item .pic img{
  	max-width: 90%;
  	max-height: 90%;
}
.selItem .bottom .item .content{
  	width: 235px;
  	height: 85px;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}
.selItem .bottom .item .content .title{
  	font-size: 14px;
  	color: #505050;
  	line-height: 20px;
  	max-height: 40px;
  	overflow: hidden;
  	display: flex;
}
.selItem .bottom .item .content .guige{
  	font-size: 12px;
  	color: #9d9d9d;
  	height: 20px;
  	display: flex;
  	align-items: center;
}
.selItem .bottom .item .content .pice{
  	height: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
}
.selItem .bottom .item .content .pice .jiage{
  	display: flex;
  	align-items: center;
  	height: 30px;
}
.selItem .bottom .item .content .pice .jiage font{
  	font-size: 12px;
  	color: #ff703a;
}
.selItem .bottom .item .content .pice .jiage div{
  	font-size: 15px;
  	color: #ff703a;
  	font-weight: bold;
}
.selItem .bottom .item .content .pice .del{
  	font-size: 14px;
  	color: #7c7c7c;
  	border: 1px solid #7c7c7c;
  	border-radius: 50px;
  	padding: 2px 12px;
}


.selempty{
	height: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #666666;
}
.list{
	display: flex;
	flex-wrap: wrap;
	background: #ffffff;
}
.list .item{
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	padding: 15px 12px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.list .item:nth-child(2n){
	border-right: none;
}
.list .item .pic{
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.list .item .pic img{
	max-width: 90%;
	max-height: 90%;
}
.list .item .content{
	
}
.list .item .content .title{
	font-size: 13px;
	color: #242424;
	line-height: 20px;
	margin-bottom: 12px;
}
.list .item .content .title .tab{
	background: #f6163e;
	font-size: 12px;
	color: #ffffff;
	display: inline;
	padding: 2px 4px;
	border-radius: 3px;
}
.list .item .content .te{
	font-size: 12px;
	color: #eb234d;
	margin-bottom: 15px;
}
.list .item .content .price{
	display: flex;
    align-items: center;
}
.list .item .content .price strong{
    font-size: 18px;
    color: #EE1049;
    font-weight: bold;
    margin-right: 5px;
}
.list .item .content .price span{
    font-size: 12px;
    color: #7B7B7B;
    text-decoration: line-through;
}