/* a {
  color: black;
} */
/* #test {
  color: yellow;
}
.c666 {
  color: red;
} */
/* .c6662 {
  color: #f5f5f5;
} */
/* a {
  color: #f5f5f5;
} */
/* .c6662 {
  color: red;
} */
/* .box#box {
  background-color: cyan;
} */
/* body.content #box {
  background-color: cyan;
}
div div div div {
  color: blue;
} */
/* #son {
  color: purple;
} */
/* .content>.box .son.sonic {
  0,0,4,0
  color: yellow;
} */
body p {
  color: red;
}