page-main-color = #7fdbff
shadow = #222
shadow-light = #95cfe5
hover-color = #FF851B
text-color = #AAAAAA
pad-normal = 8px
radius = 4px
page-bgc = #39CCCC
line-color = pink
bgc-normal = #f1f1f1
fz-normal = 12px