.blog-modal
  z-index: 999
  position: fixed
  top 0
  left 0
  bottom 0
  right 0
  background-color rgba(10,10,10,.7)
.blog-modal-wrap
  position: absolute
  top: 30%
  left: 30%
  width 40%
  margin: auto
  text-align: center
  box-shadow 0 0 4px bgc-normal
  background-color shadow-light
.blog-modal-head
  color: #fff
.blog-modal-head button
  position: absolute
  font-size 44px
  top: 0
  right: 0

.blog-modal-content
  color #fff
.blog-modal-content .form-group
  display: flex
  justify-content: center
  align-items: center
  margin 0
  margin-top pad-normal * 2
.blog-modal-content .form-group [type="submit"]
  padding pad-normal pad-normal * 3
  margin pad-normal pad-normal pad-normal * 2 pad-normal