* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.header {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 30px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 20px 20px;
}

.header .search input {
  width: 80%;
  height: 28px;
  margin-left: -6px;
  border-width: 0;
}

.header .search .bgc-search {
  width: 40px;
  height: 40px;
  transform: scale(0.6);
  background-image: url("../homework/img/sprites.png");
  background-position: -120px -220px;
  background-repeat: no-repeat;
}

.header .login {
  width: 10vw;
  font-size: 14px;
  color: #fff;
  padding-left: 8px;
}

.header img {
  width: 15vw;
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;
}

img {
  width: 15vw;
  height: auto;
}

.banner {
  width: 100%;
  height: 182px;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #999;
}

.type div {
  padding-top: 6px;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type div img {
  width: 66%;
  border-radius: 8px 8px;
  height: auto;
}

.type div p {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
}

.content .minute {
  box-sizing: border-box;
  width: 94vw;
  margin-right: 8px;
  padding: 6px;
  margin-top: 6px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.content .minute .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .minute .title span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.content .minute .title span:nth-of-type(1) {
  font-size: 16px;
  color: #D8505C;
}

.content .minute .title img {
  width: 16px;
  height: auto;
  padding-right: 6px;
}

.product {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6px;
}

.product > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.product > div img {
  width: 22vw;
  height: auto;
}

.product > div p {
  text-align: center;
  font-size: 12px;
}

.product > div p:nth-of-type(1) {
  color: #DA5080;
}

.product > div p:nth-of-type(2) {
  padding-top: 4px;
  color: #7F7E7F;
  text-decoration: line-through;
}

.bd-right {
  padding-left: 18px;
  padding-right: 18px;
  border-right: 1px solid #DDDDDD;
}

.shop {
  box-sizing: border-box;
  width: 94vw;
  margin-right: 8px;
  padding: 8px;
  margin-top: 6px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.shop p {
  height: 20px;
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 6px;
}

.shop p span.line {
  display: inline-block;
  width: 3px;
  height: 10px;
  margin-right: 4px;
  margin-left: 8px;
  background-color: #D8505C;
}

.shop > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DDDDDD;
}

.shop .product-cheap {
  width: 50%;
  border-right: 1px solid #DDDDDD;
}

.shop .product-cheap img {
  width: 100%;
  height: auto;
}

.shop .product-bug {
  width: 50%;
}

.shop .product-bug img {
  width: 100%;
  height: auto;
}

.shop .product-bug img:nth-of-type(1) {
  border-bottom: 1px solid #DDDDDD;
}

.m-bottom {
  margin-bottom: -4px;
}
