.tabbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-title span.normal {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.tab-title span.active {
  background-color: skyblue;
}