.blog-article-descrip
  width 100%
  display flex
  flex-direction: column
  justify-content: space-between
  background-color: #fff
  padding-bottom 16px
  border-radius: 6px
  & p
    margin-top 20px
  & h2
    text-align: center
  & img
    display: block
    margin 10px auto
    width 80%
    height: auto
    border-radius: 10px
.blog-img-wrap
  position: relative
.blog-descript-info
  display: flex
  justify-content: space-around
  align-items: center
.blog-descrip-classify
  text-align: right
  & span
    padding: 6px
    border: 1px solid #222
    color: #222
