.blog-toolbar
  position fixed
  right: 36px;
  top: 134px
.blog-tool-wrap
  display flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  & a
    display flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding 10px 6px
    cursor: pointer
    background-color: #fff
    margin-top 10px
    border-radius: 6px
    & i 
      font-size 20px
      