html,
body {
  font-family: Georgia, 'Times New Roman', Times, serif, "Miscrosoft yahei";
}
a {
  color: #aaa;
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: #ff851b;
}
::placeholder {
  font-size: 10px;
  color: #ddd;
}
ul {
  list-style: none;
}
h1 {
  margin: 0;
}
.glyphicon {
  top: 4px;
}
.w700 {
  font-weight: 700;
}
.tip-info:after {
  content: attr(data-tip);
  display: block;
  position: absolute;
  font-size: 12px;
  top: 100%;
  left: 5%;
  color: #f00;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
header {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr 2fr;
  justify-content: space-around;
  align-content: center;
  padding: 10px 0;
  line-height: 1;
  background-color: #7fdbff;
}
header .blog-header--logo {
  justify-self: center;
  align-self: center;
}
header .blog-header--nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px;
}
header .blog-nav--title {
  justify-self: center;
  align-self: center;
}
header .blog-header-search {
  justify-self: center;
  align-self: center;
  padding: 4px 8px;
  border-radius: 16px;
  box-shadow: 0 0 2px #222;
}
header .blog-header-search input {
  border: none;
  outline: none;
  padding: 4px 0;
  background-color: transparent;
}
header .blog-header-search i {
  font-size: 12px;
  cursor: pointer;
}
header .blog-header-user {
  justify-self: center;
  align-self: center;
}
.blog-header-slide {
  font-size: 30px;
  justify-self: center;
  align-self: center;
}
main.container {
  padding: 30px 20px;
}
.blog-main-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0 0 2px #ffc0cb;
  background-color: #f1f1f1;
}
.blog-main-intro img {
  height: 200px;
  width: auto;
  padding: 16px;
  box-shadow: 0 0 2px #222;
}
.blog-main-intro p.nickname {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  text-align: center;
}
.blog-content-intro {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding-bottom: 16px;
}
.blog-intro-num {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-content-intro::after {
  position: absolute;
  left: 50%;
  top: 6px;
  content: "";
  display: block;
  height: 32px;
  width: 1px;
  background-color: #ffc0cb;
}
.blog-intro-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-content-story {
  box-sizing: border-box;
  padding: 16px;
  font-size: 12px;
}
.blog-main-content {
  box-sizing: border-box;
  padding: 0 48px;
}
.blog-main-content .wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 0;
  box-shadow: 0 0 2px #ffc0cb;
}
.blog-content--blogs {
  width: 90%;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 8px;
}
.blog-content--blogs h2 {
  padding: 16px 0;
}
.blog-content--blogs .time span {
  padding-left: 2px;
}
.blog-content--blogs img {
  height: 230px;
  width: auto;
}
.blog-content--blogs .blog-easyIntro {
  box-sizing: border-box;
  padding: 0 16px;
  text-indent: 2em;
  text-align: left;
}
.blog-content--intro {
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.blog-modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(10,10,10,0.7);
}
.blog-modal-wrap {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 4px #f1f1f1;
  background-color: #95cfe5;
}
.blog-modal-head {
  color: #fff;
}
.blog-modal-head button {
  position: absolute;
  font-size: 44px;
  top: 0;
  right: 0;
}
.blog-modal-content {
  color: #fff;
}
.blog-modal-content .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 16px;
}
.blog-modal-content .form-group [type="submit"] {
  padding: 8px 24px;
  margin: 8px 8px 16px 8px;
}
