{{#if isUser}}
<div class="blog-user--succ">
  <img src="./img/mk.png" alt="mk">
  <i class="glyphicon glyphicon-pencil"></i>
</div>
{{else}}
  <a href="#" class="blog-user--login" data-type="login">登录</a> | <a href="#" class="blog-user--reg" data-type="regis">注册</a>
{{/if}}

