@import "./reset.scss";
//滚动条样式
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.4;
  background-color: cyan;
  // background: fade(@primary-color, 60%);
}
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   border-radius: 0;
//   background-color: skyblue;
//   // background: fade(@primary-color, 30%);
// }
