<div class="blog-edit">
  <div class="blog-edit--wrap"></div>
  <div class="blog-edit--control">
    <span></span>
    <a href="javascript:;" data-router="edit/clean">清空</a>
    <a href="javascript:;" data-router="edit/submit">提交</a>
    <span></span>
  </div>
</div>