<div class="blog-photo">
  <div class="blog-photo-wrap">
    <div class="blog-photo-show">
      <span>+</span>
    </div>
    <input type="file" value="选择文件" id="photo" name="file" hidden="true">
    <button class="btn-submit">上传</button>
  </div>
</div>