<div class="blog-photo">
  <div class="blog-photo-wrap">
    <div class="blog-photo-show">
      <span>+</span>
    </div>
    <input type="file" value="选择文件" id="photo" name="file" hidden="true">
    <button class="btn-submit">上传</button>
    <input type="button" value="预览" id="firstView">
    <div class="img-wrap">
      <img src="" alt="" id="imgTest">
    </div>
  </div>
</div>