* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

section {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 1000px;
  margin: 0 auto;
  background-color: yellow;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li {
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: #222;
}

section:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(2) li {
  line-height: 40px;
  height: 40px;
}

section:nth-of-type(3) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section:nth-of-type(3) img {
  width: 400px;
  height: 400px;
}

section:nth-of-type(3) p {
  width: 500px;
}
