.blog-info-content
  width 90%
  background-color: #fff
  padding 10px
  border-radius: 6px
  & form
    width 100%
    & div.form-group
      margin-top: 28px
.form-submit-btns
    display flex
    justify-content: center
    & button
      width 40%
